<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form" th:remove="tag">
    <div class="container">
        <form th:action="@{/agregar}" th:object="${contactoForm}" method="post">
            <div class="mb-3">
                <label for="nombreInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreInput" th:field="*{nombre}" required>
            </div>

            <div class="mb-3">
                <label for="celularInput" class="form-label">Celular</label>
                <input type="text" class="form-control" id="celularInput" th:field="*{celular}" required>
            </div>

            <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input type="text" class="form-control" id="emailInput" th:field="*{email}" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-sm me-3">Agregar</button>
                <a th:href="@{/}" class="btn btn-danger btn-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</html>