<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{fragmentos/nav::nav}"></div>
    <div th:replace="~{fragmentos/header::header(titulo= ${contactoForm.id == null} ?'Agregar':'Editar')}"></div>

    <div class="container">
        <div class="container">
            <div class="container text-center" style="margin: 30px">
                <h3 th:text="${contactoForm.id == null} ? 'Agregar Contacto' : 'Editar Contacto'"></h3>
            </div>
        </div>
    <div th:replace="~{fragmentos/form::form}"></div>
    </div>
    <div th:replace="~{fragmentos/footer::footer}"></div>
</html>