<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragmentos/nav}"></div>
<div th:replace="~{fragmentos/header}"></div>

<div class="container">
    <div class="container">
        <div class="container text-center" style="margin: 30px">
            <h3>Editar Contacto</h3>
        </div>
    </div>
    <div class="container"></div>
    <form th:action="@{/agregar}" th:object="${contactoForm}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required />
        </div>

        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular" th:field="*{celular}" required />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required />
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-sm me-3">Guardar</button>
            <a th:href="@{/}" class="btn btn-danger btn-sm">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragmentos/footer}"></div>
</html>